div {
    position: relative;
    display: inline-block;
}
  
.imgCarrito {
    width: 40px;
    height: 40px;
}
    
strong {
    background-color: white;
    color: blue;
    padding: 5px;
    border-radius: 70%;
    font-size: 14px;
}
