header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100vw;    
}

li {
    display:inline-block;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
}
li :hover{
    text-decoration: underline;
    font-weight:bold ;
}
